* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 400px;
}

body {
    background-color: rgb(204, 199, 199);
}


h1 {
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 25px;
}

p {
    line-height: 1.3;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body main {
    padding: 16px;
}

/* INICIO MENU NAVEGACION*/

nav li a {
    display: flex;
    text-decoration: solid;
    background-color: #25316D;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 7.5px;
    padding: 15px;
    margin: 10px;
}

nav {
    align-items: center;
    justify-content: space-around;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    background-color: #25316D
}

.sticky-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

}

nav ul a:hover {
    background-color: black;
    --bs-nav-link-hover-color: rgb(129, 129, 129);
}

.nav-link {
    color: white;
    font-size: 20px;
}

.logo {
    border-radius: 30px;
}


/* FIN MENU NAVEGACION*/

.grilla {
    padding: 24px;
}

.grilla>div {
    padding: 12px;
    width: 50%;
}


@media screen and (max-width: 768px) {
    .grilla>div {
        width: 100%;
    }
}

.grilla img {
    margin-bottom: 12px;
}

/* RESPONSIVE DESIGN*/


/* RD INDEX*/
@media screen and (max-width:768px) {
    .paginaindex {
        display: grid;
        grid-template-columns: 1 fr 1 fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "titulo titulo"
            "menu menu"
            "secindex secindex"
            "secindex2 secindex2"
            "footer footer"
    }

    .aside {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .paginaindex {
        display: grid;
        grid-template-columns: 1 fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "titulo"
            "menu"
            "secindex"
            "secindex2"
            "footer"
    }

    .aside {
        display: none;
    }
}

/* FIN RD INDEX*/


/* INICIO RD NOSOTROS*/


@media screen and (max-width:768px) {
    .paginanosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "titulonosotros titulonosotros"
            "menu menu"
            "imgnosotros txtnosotros"
            "footer footer"
        ;
    }
}

@media screen and (max-width:500px) {
    .paginanosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "titulonosotros"
            "menu"
            "imgnosotros"
            "txtnosotros"
            "footer"
        ;
    }
}


/* INICIO FOOTER*/

.anchoFooter {
    margin-top: 30px;
}

.redes {
    display: inline-block;
}

footer {
    width: 100%;
    background-color: black;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.anchoFooter {
    margin-top: 30px;
}

.redes {
    display: inline-block;
}

.bi-facebook {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}

.bi-facebook:hover {
    color: #3b5998;
}

.bi-whatsapp {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}

.bi-whatsapp:hover {
    color: #25D366;
}

.bi-instagram {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}

.bi-instagram:hover {
    color: #8a3ab9;
}

/* FIN FOOTER*/

.card {
    --bs-card-border-width: none;
    --bs-card-border-color: none;
    --bs-card-bg: none;
    height: 400px;
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 2rem;
}

.formulario {
    padding: 40px;
}

.contacto {
    text-align: center;
}


.superseguros {
    width: 100%;
}